html
	head
		title  Backbone Authentication Tutorial
		link(rel="stylesheet", type="text/css", href="styles/main.css")
		script(type="text/javascript").
			var csrf = "#{csrf}"
	body
		header#klipse-header
		main#main
		footer#klipse-footer
		script(type="text/javascript", data-main='js/main', src="js/lib/requirejs/require.js")